<div class="container">

  <h2>Subjects</h2>
  <div class="well">
    <%= link_to "New Subject", new_subject_path, remote: true, class: "btn btn-primary" %>
  </div>
  <div class="new-subject"></div>

  <table id class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>ID#</th>
      <th>Name</th>
      <th>Desciption</th>
      <th>Updated at</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody id="subjects">
    <%= render @subjects %>
    </tbody>
  </table>
  
</div>